.hover-bc-card:hover {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.f-sz-12{
    font-size: 12px;
}
.f-sz-18 {
    font-size: 18px;
}
.f-sz-15 {
    font-size: 15px;
}
.price-for-list {
    font-size: 20px;
    position: absolute;
    bottom: 5px;
    right: 0px;
    left: 0px;
}

.arrow-right {
    position: absolute;
    right: 10px;
    top: 0px;
    bottom: 0px;
}

.charac-bc {
    background-color: #f9f9f9
}

.el-move-right{
    position: absolute;
    bottom: 0px;
    top: 0px;
    right: 0px;
}
