@model IEnumerable<BeautySouthKoreaSiteMVC.Models.Cosmetic>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="content row">
        <div class="col-sm-4 border-right">
            <section class="sticky-top">
                <div class="" type="button" data-toggle="collapse" data-target="#collapseExampleFace" aria-expanded="false" aria-controls="collapseExample">
                    <div class="dropdown-toggle border-bottom border-top">Лицо</div>
                </div>
                <div class="collapse" id="collapseExampleFace">
                    <div class="">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
                <p>
                    <div class="" type="button" data-toggle="collapse" data-target="#collapseExampleEye" aria-expanded="false" aria-controls="collapseExample">
                        <div class="dropdown-toggle border-bottom border-top">Глаза</div>
                    </div>
                </p>
                <div class="collapse" id="collapseExampleEye">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
                <p>
                    <div class="" type="button" data-toggle="collapse" data-target="#collapseExampleNails" aria-expanded="false" aria-controls="collapseExample">
                        <div class="dropdown-toggle border-bottom border-top">Ногти</div>
                    </div>
                </p>
                <div class="collapse" id="collapseExampleNails">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
                <p>
                    <div class="" type="button" data-toggle="collapse" data-target="#collapseExampleLips" aria-expanded="false" aria-controls="collapseExample">
                        <div class="dropdown-toggle border-bottom border-top">Губы</div>
                    </div>
                </p>
                <div class="collapse" id="collapseExampleLips">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
                <p>
                    <div class="" type="button" data-toggle="collapse" data-target="#collapseExampleMakeupRemoval" aria-expanded="false" aria-controls="collapseExample">
                        <div class="dropdown-toggle border-bottom border-top">Снятие макияжа</div>
                    </div>
                </p>
                <div class="collapse" id="collapseExampleMakeupRemoval">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
            </section>
        </div>



        <div class="col-sm-8 p-0">
            <div class="row pr-3 pl-3">

                <div class="col-3 p-0 hover-bc-card">
                    <a href="#" class="text-decoration-none text-dark">
                        <img class="card-img-top p-4 bg-white" src="https://cdn.notinoimg.com/detail_thumb/shiseido/768614143925_01/shiseido-men-skin-empowering-cream___15.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body hover-bc">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supportindsjfdsj fjdsjfdsjfsd fjsdfhjsdhj sdjsdjs hhsssng text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>

                <div class="col-3 p-0 hover-bc-card">
                    <a href="#" class="text-decoration-none text-dark">
                        <img class="card-img-top p-4 bg-white" src="https://cdn.notinoimg.com/detail_thumb/shiseido/768614143925_01/shiseido-men-skin-empowering-cream___15.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body hover-bc">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-3 p-0 hover-bc-card">
                    <a href="#" class="text-decoration-none text-dark">
                        <img class="card-img-top p-4 bg-white" src="https://cdn.notinoimg.com/detail_thumb/shiseido/768614143925_01/shiseido-men-skin-empowering-cream___15.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body hover-bc">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-3 p-0 hover-bc-card">
                    <a href="#" class="text-decoration-none text-dark">
                        <img class="card-img-top p-4 bg-white" src="https://cdn.notinoimg.com/detail_thumb/shiseido/768614143925_01/shiseido-men-skin-empowering-cream___15.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body hover-bc">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-3 p-0 hover-bc-card">
                    <a href="#" class="text-decoration-none text-dark">
                        <img class="card-img-top p-4 bg-white" src="https://cdn.notinoimg.com/detail_thumb/shiseido/768614143925_01/shiseido-men-skin-empowering-cream___15.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body hover-bc">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-3 p-0 hover-bc-card">
                    <a href="#" class="text-decoration-none text-dark">
                        <img class="card-img-top p-4 bg-white" src="https://cdn.notinoimg.com/detail_thumb/shiseido/768614143925_01/shiseido-men-skin-empowering-cream___15.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body hover-bc">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


