@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-sm-4 border-right">
            <section class="sticky-top">
                <div class="" type="button" data-toggle="collapse" data-target="#collapseExampleFace" aria-expanded="false" aria-controls="collapseExample">
                    <h4 class="border-bottom border-top dropdown-toggle">
                        Лицо
                    </h4>
                </div>
                <div class="collapse" id="collapseExampleFace">
                    <div class="">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
                <p>
                    <div class="" type="button" data-toggle="collapse" data-target="#collapseExampleEye" aria-expanded="false" aria-controls="collapseExample">
                        <h4 class="dropdown-toggle border-bottom border-top">Глаза</h4>
                    </div>
                </p>
                <div class="collapse" id="collapseExampleEye">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
                <p>
                    <div class="" type="button" data-toggle="collapse" data-target="#collapseExampleNails" aria-expanded="false" aria-controls="collapseExample">
                        <h4 class="dropdown-toggle border-bottom border-top">Ногти</h4>
                    </div>
                </p>
                <div class="collapse" id="collapseExampleNails">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
                <p>
                    <div class="" type="button" data-toggle="collapse" data-target="#collapseExampleLips" aria-expanded="false" aria-controls="collapseExample">
                        <h4 class="dropdown-toggle border-bottom border-top">Губы</h4>
                    </div>
                </p>
                <div class="collapse" id="collapseExampleLips">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
                <p>
                    <div class="" type="button" data-toggle="collapse" data-target="#collapseExampleMakeupRemoval" aria-expanded="false" aria-controls="collapseExample">
                        <h4 class="dropdown-toggle border-bottom border-top">Снятие макияжа</h4>
                    </div>
                </p>
                <div class="collapse" id="collapseExampleMakeupRemoval">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
            </section>
        </div>



        <div class="col-sm-8 p-0">
            <div class="card-group ">
                
                <div class="card border-left-0 border-top-0 hover-bc-card">
                    <a href="#" class="text-decoration-none text-dark">
                        <img class="card-img-top p-4" src="https://cdn.notinoimg.com/detail_thumb/shiseido/768614143925_01/shiseido-men-skin-empowering-cream___15.jpg" alt="Card image cap">
                    </a>
                        <div class="card-body hover-bc">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    
                </div>
                <div class="card border-left-0 border-top-0 hover-bc-card">
                    <a href="#" class="text-decoration-none text-dark">
                        <img class="card-img-top p-4" src="https://cdn.notinoimg.com/detail_thumb/shiseido/768614143925_01/shiseido-men-skin-empowering-cream___15.jpg" alt="Card image cap">
                    </a>
                        <div class="card-body hover-bc">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                </div>
                <div class="card border-left-0 border-top-0 hover-bc-card">
                    <a href="#" class="text-decoration-none text-dark">
                        <img class="card-img-top p-4" src="https://cdn.notinoimg.com/detail_thumb/shiseido/768614143925_01/shiseido-men-skin-empowering-cream___15.jpg" alt="Card image cap">
                    </a>
                        <div class="card-body hover-bc">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
</div>
                <div class="card border-left-0 border-top-0 hover-bc-card">
                    <a href="#" class="text-decoration-none text-dark">
                        <img class="card-img-top p-4" src="https://cdn.notinoimg.com/detail_thumb/shiseido/768614143925_01/shiseido-men-skin-empowering-cream___15.jpg" alt="Card image cap">
                    </a>
                        <div class="card-body hover-bc">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                </div>
            </div>
            <div class="card-group border-0">
                <div class="card border-left-0 border-top-0 hover-bc-card">
                    <a href="#" class="text-decoration-none text-dark">
                        <img class="card-img-top p-4" src="https://cdn.notinoimg.com/detail_thumb/shiseido/768614143925_01/shiseido-men-skin-empowering-cream___15.jpg" alt="Card image cap">
                    </a>
                        <div class="card-body hover-bc">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                </div>
                <div class="card border-left-0 border-top-0 hover-bc-card">
                    <a href="#" class="text-decoration-none text-dark">
                        <img class="card-img-top p-4" src="https://cdn.notinoimg.com/detail_thumb/shiseido/768614143925_01/shiseido-men-skin-empowering-cream___15.jpg" alt="Card image cap">
                    </a>
                        <div class="card-body hover-bc">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                </div>
                <div class="card border-left-0 border-top-0 hover-bc-card">
                    <a href="#" class="text-decoration-none text-dark">
                        <img class="card-img-top p-4" src="https://cdn.notinoimg.com/detail_thumb/shiseido/768614143925_01/shiseido-men-skin-empowering-cream___15.jpg" alt="Card image cap">
                    </a>
                        <div class="card-body hover-bc">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                </div>
                <div class="card border-left-0 border-top-0 hover-bc-card">
                    <a href="#" class="text-decoration-none text-dark">
                        <img class="card-img-top p-4" src="https://cdn.notinoimg.com/detail_thumb/shiseido/768614143925_01/shiseido-men-skin-empowering-cream___15.jpg" alt="Card image cap">
                    </a>
                        <div class="card-body hover-bc">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>


